html,
body {
  padding: 0;
  margin: 0;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
}

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.375;
}

/* Track */
::-webkit-scrollbar-track {
  background: #2b2c3d;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #99a5bf;
  border-radius: 5px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}
